shaderpacks/
mods/
resourcepacks/
.curseclient
knownkeys.txt
options.txt
manifest.json
minecraftinstance.json
modlist.html
patchouli_data.json
rhino.local.properties
servers.dat
usercache.json
usernamecache.json
fancymenu_data/
fancymenu_data/
lightspeed-cache/
local/
logs/
crash-reports/
modernfix/
saves/
XaeroWaypoints/
XaeroWorldMap/
blueprints/


.idea/
aes/
config/spawnbalanceutility/AllMobEntities.rpt
config/sound_physics_remastered/
screenshots/
crash-reports/
puresufferingmusic/
downloads/
easy_npc/cache/player_skin
easy_npc/cache/remote_skin
easy_npc/backup
moddata/
patchouli_books/
xaero/
.qmenu_opened.marker
fabricloader.log
servers.dat_old
supportercache.json
TrashslotSaveState.json
hs_err_*.log
XaeroWaypoints*

.replay_cache/
replay_recordings/
simplebackups/
config/embeddium++.toml
config/oculus.properties
config/jei/
config/jei/ingredient-list-mod-sort-order.ini
config/fabric/indigo-renderer.properties
config/xaerominimap_entities.json
config/packetfixer.properties
config/spawnbalanceutility/BiomeMobWeight.rpt
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini